body {
    background: url(back1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}

.question {
    font-weight: 500;
    color: red;
    padding-bottom: 20px;

}

.answers {
    margin-bottom: 20px;
    color: red;

}

#submit {
    font-size: 30px;
    align-items: inherit;
    background-color: black;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#butt:hover {
    background-color: #38a;
}